# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual Environment
# ===============================
venv/
.env/

# ===============================
# VS Code
# ===============================
.vscode/

# Specific Large Models
Models/unet_abdomen.pth
BACKEND/.env
.env

# Ignored Notebooks
Notebooks/MHRP_XGBoost.ipynb